<% include partials/boilerplate %>

<hr>
<div class="crypto-top">
  <h1 class="div-title">TOP 5</h1>
  <div class="coin-container">
    <% coins.forEach((coin) => { %>
      <a href="<%= coin.id %>">
        <div class="coin-field">
          <p><%= coin.name %>, <%= coin.symbol %></p>
          <hr style="color: #fff;">
          <% if ( coin.percent_change_1h > 0) { %>
              <p>Last Hour: <span class="pos-change"><%= coin.percent_change_1h %>%</span></p>
          <% } else { %>
            <p>Last Hour: <span class="neg-change"><%= coin.percent_change_1h %>%</span></p>

          <% }%>
          <% if ( coin.percent_change_24h > 0) { %>
              <p>Last 24h: <span class="pos-change"><%= coin.percent_change_24h %>%</span></p>
          <% } else { %>
            <p>Last 24h: <span class="neg-change"><%= coin.percent_change_24h %>%</span></p>

          <% }%>
          <% if ( coin.percent_change_7d > 0) { %>
              <p>Last 7d: <span class="pos-change"><%= coin.percent_change_7d %>%</span></p>
          <% } else { %>
            <p>Last 7d: <span class="neg-change"><%= coin.percent_change_7d %>%</span></p>

          <% }%>
          <p>Price USD: $<%= coin.price_usd %></p>
        </div>
      </a>
    <% }) %>
  </div>
</div>

  <hr>
  <div class="news-top">
    <h1 class="div-title">CRYPTO NEWS ON REDDIT</h1>
    <div class="coin-container">
      <% for (let i = 0; i < 5 ; i++) { %>
      
        <a href="https://www.reddit.com<%= ((news.data.children[i]).data.permalink) %>">
          <div class="coin-field">
            <img class="news-img" src="<%= (news.data.children[i]).data.thumbnail %>" alt="NO PIC!">
            <p class="news-title"><%= (news.data.children[i]).data.title %></p>
          </div>
        </a>
      <% } %>
    </div>
  </div>
  <hr>
  <div class="meet-top">
    <h1 class="div-title">MEET-UPS</h1>
  </div>
<% include partials/end %>
