<% include partials/boilerplate %>
  <div class="info-field">

    <div class="coin-field-id">
      <% if ((coin[0].id).length > 0) { %>
      <h1>

        <%= coin[0].id %>, <%= coin[0].symbol %>
      </h1>
      <p>Rank: <%= coin[0].rank %></p>
      <hr>

      <% if ( coin[0].percent_change_1h > 0) { %>
          <p>Last Hour: <span class="pos-change"><%= coin[0].percent_change_1h %>%</span></p>
      <% } else { %>
        <p>Last Hour: <span class="neg-change"><%= coin[0].percent_change_1h %>%</span></p>

      <% }%>
      <% if ( coin[0].percent_change_24h > 0) { %>
          <p>Last 24h: <span class="pos-change"><%= coin[0].percent_change_24h %>%</span></p>
      <% } else { %>
        <p>Last 24h: <span class="neg-change"><%= coin[0].percent_change_24h %>%</span></p>

      <% }%>
      <% if ( coin[0].percent_change_7d > 0) { %>
          <p>Last 7d: <span class="pos-change"><%= coin[0].percent_change_7d %>%</span></p>
      <% } else { %>
        <p>Last 7d: <span class="neg-change"><%= coin[0].percent_change_7d %>%</span></p>

      <% }%>
      <p>Price USD: $<%= coin[0].price_usd %></p>
      <% }; %>
    </div>
    <hr>
    <div class="news-top">
      <h1 class="div-title"><%= (coin[0].id).toUpperCase() %> ON REDDIT</h1>
      <div class="coin-container">
        <% for (let i = 0; i < 5 ; i++) { %>
          <a href="https://www.reddit.com<%= ((coinN.data.children[i]).data.permalink) %>">
            <div class="coin-field">
              <img class="news-img" src="<%= (coinN.data.children[i]).data.thumbnail %>" alt="NO PIC!">
              <p class="news-title"><%= (coinN.data.children[i]).data.title %></p>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </div>

<% include partials/end %>
